.task_info_contents {
    border: 2px solid #919191;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.task_info_contents > div {
    margin-bottom: 10px;
}

.task_title {
    flex-basis: 100%;
}

.task_estimate,
.task_status,
.task_priority {
    flex-basis: 33%;
}

.task_expert {
    flex-basis: 100%;
}

.task_deadline {
    flex-basis: 100%;
    display: flex;
}

.task_deadline div {
    flex-basis: 50%;
}

.form_num {
    font-family: IRANSans_Bold;
    font-size: 13px;
    color: #9563be;
    margin: 20px 0;
}

.add_form {
    display: flex;
    position: relative;
}

.add_form::before {
    content: "";
    width: calc(100% - 40px);
    height: 2px;
    background-color: #9563be;
    position: absolute;
    left: 0;
    right: 40px;
    top: calc(50% - 1px);
}

.add_form svg {
    fill: #9563be;
    cursor: pointer;
}

.header_form svg {
    fill: #FF0007;
    cursor: pointer;
}

.message_subTask_form {
    font-family: IRANSans_Medium;
    font-size: 16px !important;
    color: #FF0007 !important;
}

.subTask_content {
    border: 2px solid #919191;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.subTask_title,
.subTask_description {
    flex-basis: 100%;
}

.subTask_expert,
.subTask_status,
.subTask_startDate,
.subTask_endDate,
.subTask_priority,
.subTask_estimateTime {
    flex-basis: 50%;
}

.button_action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 10px;
    visibility: hidden;
    background-color: #ffffff;
    border-radius: 20px;
}

.action_item,
a .action_item {
    padding: 5px 10px;
    background-color: rgba(149, 99, 190, 0.42);
    border-radius: 5px;
    cursor: pointer;
    color: #000000;
    font-size: 14px;
    height: auto;
    display: block;
}

.subTask_content:hover .button_action {
    visibility: visible;
}


.not_started {
    border-color: #FF0007C9;
}

.waiting {

}

.doing {
    border-color: #9563be;
}

.completed {
    border-color: #6FBE63;
}